/* App.css */
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column; /* übereinander */
    margin-top: 80px; /* Höhe des Headers */
    padding: 1rem;
    gap: 0.5rem; /* Abstand zwischen SearchForm und ResultBox */
}

/* Responsive: Tablet */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}

/* Responsive: Mobile */
@media (max-width: 480px) {
    .main {
        padding: 0.5rem;
    }
}
