.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 130px auto 0 auto;
    gap: 0.5rem;
    width: 100%;
    max-width: 1000px;
}

.suggestions-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    gap: 2rem;
}

.api-call {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.suggestion-child {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Responsive: Tablet */
@media (max-width: 768px) {
    .main {
        max-width: 90%;
    }
}

/* Responsive: Mobile */
@media (max-width: 480px) {
    .main {
        padding: 0.5rem;
        max-width: 95%; /* fast volle Breite */
    }
}
